@use '../utils';

.info-section {
    padding-top: 100px;
}

.info-section-heading {
    margin-bottom: 34px;
}

.info-section-text-content {
    width: 45%;
    min-width: 300px;
}

.info-section-description {
    font-weight: normal;
    @include utils.responsive-font-size(14px, 20px);
}


.about-section-content {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: flex-start;
    @include utils.responsive-font-size(14px, 20px);
    margin-bottom: 30px;
}

.about-text {
    width: 48%;
    font-weight: normal;
    min-width: 300px;
}

.note {
    width: 45%;
    font-weight: bold;
    min-width: 150px;
}

.about-section-photo {
    width: 100%;
}

@media (max-width: 530px) {
    .about-section-content {
        flex-direction: column;
        row-gap: 30px;

        & > * {
            width: 100%;
        }
    }
}


.commands-section-content-wrapper, .calendar-section-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 15px;
    row-gap: 30px;
}

.commands-section-photo {
    width: 48%;
    min-width: 350px;
}

@media (max-width: 700px) {
    .commands-section-content-wrapper {
        flex-direction: column;

        & > * {
            width: 100%;
        }
    }

    .commands-section-photo {
        min-width: 250px;
    }
}


.calendar-section {
    padding-bottom: 100px;
}

.schedule-table {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px 0;
    font-weight: 400;
    color: black;
    width: 50%;
    min-width: 350px;
    
    tr:not(:last-child) td {
        padding-bottom: 20px;
    }

    td {
        @include utils.responsive-font-size(16px, 20px);
    }
}

@media (max-width: 694px) {
    .calendar-section-content-wrapper {
        flex-direction: column;

        & > * {
            width: 100%;
        }
    }

    .schedule-table {
        min-width: 270px;
    }
}