.trofeo-section {
    position: relative;
    overflow: hidden;
}

.decoration {
    position: absolute;
    scale: 0;
}

.decoration-visible {
    animation-name: growing;
    animation-duration: 0.48s;
    animation-fill-mode: both;
}

@keyframes growing {
    70% {
        scale: 1.1;
    }

    100% {
        scale: 1;
    }
}

.hexagon {
    left: 10%;
    top: 260px;
    min-width: 200px;
    width: 203px;
    animation-delay: 0.1s;
}

.car {
    top: 350px;
    left: 278px;
    width: 55%;
    min-width: 500px;
    animation-delay: 0.3s;
}

.car-2 {
    top: 853px;
    left: 51%;
    width: 274px;
    animation-delay: 0.6s;
}

.car-3 {
    width: 324px;
    top: 1000px;
    left: 66%;
    animation-delay: 0.9s;
}

@media (max-width: 1334px) {
    .car {
        top: 500px;
    }
}

@media (max-width: 1126px) {
    .car-3 {
        left: 750px;
    }
}

@media (max-width: 894px) {
    .car {
        left: 150px;
    }
}

@media (max-width: 600px) {
    .decoration {
        display: none;
    }
}