@use '../utils' as *;
@use '../colors' as *;

.winners-section {
    padding-bottom: 100px;
}

.winners-section-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 15px;
    row-gap: 30px;
}

.winners-quotes {
    width: 47%;
    min-width: 300px;
}

.quote {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0px;
    }
}

.winner-title {
    font-weight: normal;
    @include responsive-font-size(12px, 18.5px);
    color: $gold;
    margin-bottom: 3px;
}

.winner-name {
    @include responsive-font-size(14px, 20px);
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}

.quote blockquote {
    font-style: italic;
    font-weight: normal;
    @include responsive-font-size(14px, 21px);
}

.winners-section-photo {
    width: 47%;
    min-width: 300px;
}

@media (max-width: 657px) {
    .winners-section-content-wrapper {
        flex-direction: column;
    }

    .winners-quotes, .winners-section-photo {
        width: 100%;
        min-width: 250px;
    }
}