@use 'colors' as *;
@use 'utils' as *;

.footer {
    padding-top: 100px;
    padding-bottom: 79px;
    background-color: $dark-grey;
}

.footer-heading {
    color: white;
    margin-bottom: 50px;
}

.info {
    color: white;
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
    align-items: flex-start;
    margin-bottom: 80px;
}

.contacts-container {
    font-style: normal;
    width: 41%;
    min-width: 270px;
}

.contacts {
    color: white;
    font-weight: normal;
    @include responsive-font-size(15px, 25px);
    margin-bottom: 50px;

    &:last-child {
        margin-bottom: 0px;
    }

    a {
        color: white;
        transition: color 0.37s;
        
        &:hover {
            color: $light-gold;
        }
    }
}

.footer-section-heading {
    font-weight: bold;
    @include responsive-font-size(16px, 25px);
    margin-bottom: 17px;
}

.social-networks-list {
    display: flex;
    column-gap: 20px;
    justify-content: flex-start;
    align-items: center;
}

.social-network:not(.facebook) {
    path {
        stroke: white;
        transition: stroke 0.3s;
    }

    &:hover {
        path {
            stroke: $light-gold;
        }
    }
}

.facebook {
    path {
        fill: white;
        transition: fill 0.3s;
    }

    &:hover {
        path {
            fill: $light-gold;
        }
    }
}

.location {
    width: 52%;
    min-width: 360px;

    address {
        @include responsive-font-size(16px, 22px);
        font-style: normal;
        margin-bottom: 20px;
    }
}

.map {
    width: 100%;
    max-height: 300px;
    filter: grayscale(1);
}

@media (max-width: 700px) {
    .info {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }

    .location, .contacts-container {
        width: 100%;
    }

    .location {
        min-width: 270px;
    }
}

.footer-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 16px;
    font-weight: normal;
    color: white;
    @include responsive-font-size(14px, 20.5px);

    a {
        color: white;
    }
}

.footer-bar-logo {
    margin: 0;
}

@media (max-width: 500px) {
    .footer-bar {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
}