@use 'colors' as *;
@use 'utils';

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    column-gap: 100px;
}

.navigation-menu {
    display: flex;
    column-gap: 36px;
    row-gap: 15px;
    justify-content: center;
    min-width: 270px;
    flex-wrap: wrap;

    a {
        font-family: 'Roboto Condensed';
        font-weight: normal;
        @include utils.responsive-font-size(15.5px, 23px);
        color: $dark-grey;
    }
}

.logo {
    position: relative;
    z-index: 10;
    transition: scale 0.35s;
    margin-right: 20px;

    &:hover {
        scale: 1.05;
    }
}

.open-navigation-button {
    position: absolute;
    right: 10px;
    top: 25px;
    display: none;
    transition: transform 0.4s;
    transform-origin: center;

    img {
        width: 60px;
        height: 60px;
    }

    &:hover {
        transform: rotate(160deg);
    }
}

.close-navigation-button {
    position: absolute;
    right: 10px;
    top: 25px;
    display: none;
    
    img {
        width: 40px;
        height: 40px;
    }
}


@media (max-width: 870px) {
    .navigation {
        row-gap: 20px;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .logo {
        margin-right: 0;
        order: 1;
    }

    .navigation-menu {
        order: 2;
    }
}

@media (max-width: 438px) {
    .navigation {
        position: fixed;
        right: -100%;
        top: 0;
        z-index: 10;
        height: 100vh;
        width: 100%;
        background-color: white;
        row-gap: 30px;

        transition: right 0.6s;
    }

    .navigation-opened {
        right: 0px;
    }

    .open-navigation-button {
        display: block;
    }

    .close-navigation-button {
        display: block;
    }
}